body {
	background: #0f0101;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

	font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial;
	font-size: 16px;
	color: #c7fc08;
}

h1, h2, h3 {
	font-weight: normal;
}
button {
	background: #111;
	color: #fff;
	border: 0;
	padding: 10px 30px;
	border-radius: 3px;

	font-size: 2em;
	font-family: "Segoe UI Light", "Helvetica Neue", Helvetica, Arial;
	cursor: pointer;
}
	.button:hover,
	button:hover {
		background: #0000bb;
		color: #fff;
	}

a {
	color: #a2ef12;
	text-decoration: none;
}
	a:hover {
		color: #def512;
	}
.clear {
	clear: both;
}

.container {
	position: relative;
	z-index: 100;
}

#stage {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 10;
}

#tip {
	position: absolute;
	left: 0;
	right: 0;
	top: 100px;
	margin: 0;

	color: #a2f80c;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#start {
	position: relative;
	margin: 30vh auto 0 auto;
	text-align: center;
}
	#start p {
		margin: 0 0 10px 0;
	}

#controls {
	position: fixed;
	top: 20px;
	right: 20px;
}
	#controls .opt {
		padding-top: 10px;
	}
	#controls .opt label {
		margin-top: 10px;
		cursor: pointer;
	}

#score {
	font-size: 50px;
	line-height: 50px;
	text-align: center;
}

#notice {
	position: absolute;
	right: 0;
	top: 100px;
	left: 0;
	z-index: 1;
	font-size: 5em;
	text-align: center;
	color: #c9f90b;
	display: none;
}

#stats {
	text-align: center;
	list-style-type: none;
	margin: 40px 0 40px 0;
	padding: 0;
}
	#stats li {
		border: 1px solid #aff715;
		margin-bottom: 15px;
		border-radius: 3px;
	}
	#stats h1 {
		margin: 0;
		padding: 5px;
	}
	#stats label {
		background: #b8e60f;
		color: #fff;
		font-size: 11px;
		padding: 5px;
		display: block;
		text-transform: uppercase;
	}

#controls .pause {
	margin-top: 30px;
	font-size: 11px;
	text-align: center;
}

.footer {
	position: fixed;
	bottom: 10px;
	left: 10px;
	text-align: center;
}